extends layout

block content
  span Login
  form(name="login", action="/login", method="POST")
    input(type="text", name="user")
    input(type="password", name="pass")
    input(type="submit", value="Log In")
  form(name="logout",action="/logout", method="POST")
    input(type="submit", value="Log Out")
  span Sign Up
  form(name="signup", action="/register", method="POST")
    input(type="text", name="user")
    input(type="password", name="pass")
    input(type="password", name="confirm-pass")
    input(type="text", name="email")
    input(type="text", name="confirm-email")
    input(type="submit", value="Sign Up")
